section.about
    .container
        .title.title--with-subline
            h2.title__header About Us
            .title__text We added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quas officiis ipsa cumque, minus optio.
            li.about__item
                .icon.icon-book
                h3.about__header Landing page Creation
                p.about__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quas officiis ipsa cumque, minus optio.
            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quas officiis ipsa cumque, minus optio.