section.work
    .container
        .title.title--with-subline
            h2.title__header Our Work
            .title__text We are added our featured works below

        ul.work__list
            li.work__item.work__item--text
                h3.work__name Project name
                .work__description Facebook marketing
            li.work__item: img.work__picture(src='../../images/work-1.jpg')

            li.work__item.work__item--text
                h3.work__name Project name
                .work__description Landing page
            li.work__item: img.work__picture(src='../../images/work-2.jpg')

            li.work__item: img.work__picture(src='../../images/work-3.jpg')
            li.work__item.work__item--text
                h3.work__name Project name
                .work__description Landing page
            

            li.work__item: img.work__picture(src='../../images/work-4.jpg')
            li.work__item.work__item--text
                h3.work__name Project name
                .work__description Facebook marketing
            